name: Recalculate DORA Metrics

on:
  schedule:
    - cron: "0 0 * * *"  # daily
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  run-dora:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Generate Logs
      run: python src/log_generator.py

    - name: Calculate DORA Metrics
      run: python src/metrics_calculator.py

    - name: Generate Graphs
      run: python src/generate_graphs.py

    - name: Commit Results
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "actions@github.com"
        git add output/
        git commit -m "Automated DORA update" || echo "No changes"
        git push
      continue-on-error: true
